.hBox {
    -fx-background-color: #66888899;
    -fx-padding: 20px;
    -fx-spacing: 30px;
    -fx-alignment: center;
    -fx-pref-height: 100px;
}
.leftHBox {
    -fx-background-color: #22888899;
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: center-left;
    -fx-pref-height: 50px;
}
.centerBox {
    -fx-background-color: #997799;
    -fx-padding: 20px;
    -fx-spacing: 30px;
    -fx-alignment: center;
    -fx-pref-height: 100px;
}

.TitleText {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-color: #000000;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-text-align: center;
}
.text {
    -fx-font-size: 15px;
    -fx-font-weight: normal;
    -fx-color: #000000;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-text-align: center;
}

.vBox {
    -fx-background-color: #997799;
    -fx-spacing: 30px;
    -fx-padding: 20px;
    -fx-alignment: top-center;
    -fx-pref-width: 250px;
}

.scene {
    -fx-alignment: center;
}

.button {
    -fx-background-color: #778888;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-block-size: 80px;
}