.hBox {
    -fx-background-color: #66888899;
    -fx-padding: 20px;
    -fx-spacing: 30px;
    -fx-align-items: center;
}
.TitleText {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-color: #000000;
    -fx-font-family: Verdana, sans-serif;
    -fx-text-align: center;
}
.text {
    -fx-font-size: 15px;
    -fx-font-weight: normal;
    -fx-color: #000000;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-text-align: center;
    -fx-effect: dropshadow( one-pass-box , #00000022 , 8 , 0.0 , 2 , 0)
}

.vBox {
    -fx-background-color: #997799;
    -fx-align-items: center;
}

.scene {
    -fx-align-items: center;
}

.button {
    -fx-background-color: #775599;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-block-size: 80px;
}

.image {
    -fx-height: 100px;
    -fx-width: 70px;
    -fx-image-rendering: auto;
}